body {
    font-family: 'Merriweather', sans-serif;
}
.CodeMirror {
    width: 49%;
    float: left;
    height: 100vh;
    overflow: auto;
}
button {
    font-size: 16px;
    border-radius: 5px;
}
#preview{
    width: 49%;
    float: left;
    padding: 0 10px;
    color: #F5F5F5;
    background-color: #263238;
    height: 100vh;
    border-left: solid 1px white;
    overflow: auto;
}
#preview a{
    color: #3E92CC;
}
